.radio_button {
    input {
        display: none;

        &:checked+label {
            background-color: #FD6584;
            border: none;
        }
    }

    label {
        display: flex;
        width: 100%;
        height: 50px;
        border: 2px solid #FFFFFF;
        border-radius: 30px;
        padding-left: 32px;
        padding-right: 32px;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }
}

@media screen and (max-width: 767px) {
    .radio_button {
        label {
            width: 100%;
            height: 40px;
            padding-left: 20px;
            padding-right: 20px;
        }
    }
}
@media screen and (max-width: 479px) {
    .radio_button {
        label {
            font-size: 14px;
            padding-left: 12px;
            padding-right: 12px;
        }
    }
}