$block_width: 420px;

%blocks {
    bottom: 0;
    position: absolute;
    width: $block_width;
    height: 395px;
    border-radius: 20px;
    transition: left 1.5s ease-in-out, bottom .3s ease-in-out;
    &:hover {
        bottom: 20px;
    }
}
.about_me__blocks {
    width: 100%;
    height: 395px;
    position: relative;
    display: flex;
    & :first-child {
        @extend %blocks;
        background-color: #705CF1;
    }
    & :nth-child(even) {
        @extend %blocks;
        background-color: #5BFEFE;
    }
    & :last-child {
        @extend %blocks;
        background-color: #FD6584; 
    }
}
