$buttonColor: #FD6584;
$backgroundColor: #212121;

.highest_bar {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .header_buttons {
        display: flex;
        align-items: center;
    }
    .language_switcher {
        position: relative;
        font-size: 17px;
        width: 60px;
        height: 40px;
        border-radius: 20px;
        color: #2C2C2C;
        cursor: pointer;
        transition: all 1s ease-in-out;
        z-index: 5;
    }
}
.header_links {
    display: flex;

    nav {
        display: flex;
        align-items: center;

        * {
            margin-right: 40px;
        }
    }

}

.first_screen {
    position: relative;
    width: 100%;
    height: 535px;
    background-color: #705CF1;
    border-radius: 20px;
    padding-top: 100px;
    padding-left: 103px;

    h1 {
        width: 800px;
        font-size: 58px;
        margin-bottom: 60px;
    }

    h2 {
        font-size: 17px;
        margin-bottom: 30px;
    }
}

.first_screen__items {
    display: flex;
    justify-content: space-between;
    width: max(759px, 78.1%);

    a {
        width: 230px;
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 100px;
        font-size: 18px;
        color: #FFFFFF;
        background-color: $buttonColor;

        &:hover {
            background-color: #FF8AA2;
        }
    }
}

.first_screen__skills {
    display: flex;

    & :first-child {
        margin: 0;
    }
}

.header_skill {
    display: flex;
    align-items: center;
    margin-left: 70px;

    & :last-child {
        margin-left: 15px;
    }
}

.scrollItem {
    position: absolute;
    bottom: 0;
    right: 30px;
    background-color: $backgroundColor;
    width: 60px;
    height: 170px;
    border-radius: 100px 100px 0 0;

    .scroll_text {
        transform: rotate(90deg);
        margin-top: 54px;
    }

    img {
        display: block;
        margin: 0 auto;
        margin-top: 15px;
        animation: scroll_arrow_animation 1s ease-in-out infinite;
    }
}

@keyframes scroll_arrow_animation {
    0% {
        margin-top: 15px;
    }

    50% {
        margin-top: 25px;
    }

    100% {
        margin-top: 15px;
    }
}

@media screen and (max-width: 1279px) {
    .first_screen {
        padding-left: 60px;
    }

    .scrollItem {
        right: 20px;
    }
    .header_skill {
        margin-left: 50px;
    }
}
@media screen and (max-width: 999px) {
    .first_screen__items {
        width: auto;
    }
    .first_screen__skills {
        display: none;
    }
    .first_screen {
        height: 500px;
        h1 {
            width: 610px;
            font-size: 48px;
        }
    }
    .first_screen {
        padding-left: 50px;
    }
}
@media screen and (max-width: 767px) {
    .highest_bar {
        .language_switcher {
            background-color: $backgroundColor;
            color: #FFFFFF;
            cursor: pointer;
        }
    }
    .header_links {
        nav {
            display: none;
        }

    }
    .first_screen {
        height: auto;
        padding: 120px 20px 20px  20px;
        h1 {
            width: 100%;
            font-size: 31px;
            margin: 0;
        }
    }
    .scrollItem {
        width: 40px;
        height: 87px;
        top: -1px;
        border-radius:  0 0 100px 100px;
        .scroll_text {
            display: none;
        }
    }
    .first_screen__items {
        height: 170px;
        position: relative;
        a {
            position: absolute;
            width: 100%;
            bottom: 0px;
        }
    }
}

@media screen and (max-width: 479px) {
    .first_screen {
        padding: 100px 20px 20px 20px;
        h1 {
            font-size: 22px;
        }
    }
    .first_screen__items {
        height: 160px;

        a {
            height: 54px;
        }
    }
}